.container ol li{
    font-size: 1.4em;
    color: black;
}

.start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.start .butn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: rgb(81, 152, 179);

    align-items: center;
    border: none;
    background-color:rgb(60, 123, 145)lightblue;
    color: white;
    font: 300 1.8vmax "Roboto";
    width: 30%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    margin: auto;
    /* margin-top: 2%; */
    border-radius: 4px;
    background-position-y: 2%;
    background-position-x: 2%;
    display: flex;
    justify-content: center;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.start .butn:hover{
    cursor: pointer;
    background-color: #f0f0f0;
    color: #202020;
}


/* .profile_container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 16em;
    height: 16em;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .image_container {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .student_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .data_container {
    display: flex;
    flex-direction: column;
  }
  
  .data_container span {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  } */
/* 
.profile_container {
    width: 16em;
    height: 16em;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
  }
  .image_container {
    width: 12em;
    height: 10em;
  } 
  .data_container {
    width: 12em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .student_image {
    width: 100%;
    height: 10em;
  }

 */
 .profile_container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 13em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .image_container {
    width: 10em;
    height: 10em;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .student_image {
    width: 120%;
    height: 120%;
    object-fit: cover;
  }
  
  .data_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .data_container span {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }
  .logout{
    cursor: pointer;
    align-items: center;
    background-color:rgb(137, 184, 202);
    color: white;
    font: 300 1vmax "Roboto";
    width: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin: auto;
    background-position-y: 10%;
    background-position-x: 10%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    margin-top: 10px;
    padding: 10px 20px;
  }
  .logout:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #202020;
  }